.welcome-root {
	height: 100%;
	width: 100%;
}

.nav-bar {
	position: fixed;
	width: 100%;	
	background-color: var(--pokedex-red);
	color: white;
	overflow: hidden;
	box-shadow: 2px 2px 5px grey;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	height: 80px;

	z-index: 9;
}


@media (min-width: 800px) {
	.nav-bar {
		height: 80px;	
	}	
}

.spacer {
	width: 100%;	
	height: 80px;
}

.site-logo {
	margin-left: 1%;
	position: absolute;
	width: 200px;
	height: 200px;
	right: 0px;
	top: 20%;
}

@media (max-width: 800px) {
	.site-logo {
		position: absolute;
		width: 150px;
		height: 150px;
		right: -2.5%;
		top: 15%;
	}
}

.nav-title {
	float: left;	
	margin-left: 15px;
	/*-webkit-transform: rotate(-1deg); */
	filter: drop-shadow(0 0 0.3rem var(--pokedex-blue));
	font-size: 2.7em;
}

.nav-link-desktop-container {
	margin-left: 15px;
	display: flex;	
	flex-direction: row;
	align-items: center;
	float: left;
	list-style: none;
	padding: 15px;
	height: 100%;
}

@media (max-width: 600px) {
	.nav-title {
		font-size: 1.5em;
	}	
}

@media (max-width: 800px) {
	.nav-link-desktop-container {
		display: none;
	}
}

.nav-link {
	margin-left: 10px;
	height: 100%;
	font-weight: bold;
	display: inline-block;
	font-size: 1.5em;
}


@media (max-width: 800px) {
	.nav-link-icon {
		float: left;	
	}

	.nav-link {
		display: block;	
		font-weight: bold;
		float: left;

	}	
}

.nav-link-flex-container {
	color: white;	
	display: flex;
	align-items: center;
	margin: 10px;
	margin-top: 15px;
}

@media (min-width: 800px) {
	.nav-link-flex-container {
		color: white;	
		display: flex;
		align-items: center;
		margin: 10px;
		margin-top: 15px;
		flex-direction: row;
	}
}

.nav-link:hover {
	cursor: pointer;
	filter: drop-shadow(0 0 0.3rem var(--pokedex-blue));
}

.sidebar-ul {
	margin: 0;	
	padding: 0;
	display: flex;
	flex-direction: column;
}

.sidebar-btn {
	display: inline-block;
	float: left;
	color: white;
	font-size: 1.6em;

	-webkit-appearance: none;
	border: 0px;
	background-color: var(--pokedex-red);

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sidebar {
	position: fixed;
	float: left;
	height: 100%;
	width: 200px;
	background-color: var(--pokedex-grey);
	z-index: 10;
	top: 0px;

	box-shadow: 2px 2px 5px grey;
	padding: 10px;

	animation-name: sidebar-anim;
	animation-duration: 0.5s;
}

@keyframes sidebar-anim {
	0% {left: -200px;}
	100% {left: 0px;}
}

.nav-icon {
	color: white;
	text-align: center;
	font-size: 2.5em;
	margin: 10px;
	cursor: pointer;
}


@media (min-width: 800px) {
	.sidebar-btn {
		display: none;	
	}

	.sidebar {
		display: none;
	}
}

.selected {
}

