.detail-root {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: flex-start;

	overflow: scroll;
}

.detail-top-sliver {
	width: 100%;
}

.portrait-container {
	background-color: var(--color-grass);
	width: 100%;
	margin: 0;
	padding: 0;
}
.portrait {
	width: 65%;
	background-color: var(--color-grass);
	margin: 0;
	padding: 0;
}

.detail-back {
	float: left;
	cursor: pointer;	
	color: var(--pokedex-grey);
	font-size: 2em;
	margin-bottom: 10px;
}

.card-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;	
	justify-content: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
}

.detail-card {
	background-color: white;	
	border-radius: 2px;
	overflow: scroll;
	box-shadow: 0px 1px 8px grey;
}

.detail-name-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--pokedex-grey);
	color: white;
	width: 100%;
}

.detail-name {
	padding: 0;	
	margin: 5px;
}

.detail-text-container {
	padding: 5px;
}

.detail-text {
	margin-top: 5px;	
	margin-bottom: 0px;
	text-align: left;
}

.detail-id {
	float: right;
	margin-left: auto;
	margin: 0;
	padding: 0;
	color: var(--pokedex-grey);
}

.detail-description {
	text-align: left;
	margin: 15px;
}

.flex-item {
	margin-right: 15px;
}

.detail-container {
	margin-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.type-box {
	width: 15%;
	color: white;	
	padding: 10px;
	margin-top: 0px;
	margin-right: 10px;
	border-radius: 9px;
}

.row-container {
	display: flex;
	flex-direction: row;
}

.column-container {
	display: flex;
	flex-direction: column;
}

.detail-card-title {
	margin: 0;
	margin-bottom: 9px;
	text-align: left;
}

.stat-bar {
	display: flex;
	flex-direction: row;
}

.detail-stats-container {
	display: flex;
	flex-direction: row;
}

.detail-divider {
	opacity: 0.5;
	margin-left: 15px;
	margin-right: 15px;
}

