.detail-root {
	display: flex;
	flex-direction: column;
	padding: 15px;
	align-items: flex-start;
}

.portrait {
	width: 200px;
	height: 200px;
	background-color: var(--color-grass);
	border-radius: 9px;
}

.detail-back {
	cursor: pointer;	
	color: var(--pokedex-grey);
	font-size: 2em;
	float: left;
	margin-bottom: 10px;
}

.top-detail {
	display: flex;
	flex-direction: row;	
	justify-content: flex-start;
}
