 @import url('https://fonts.googleapis.com/css?family=Rubik');
 
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

:root {
  --pokedex-red: #da1333;
  --pokedex-white: #dedede;
  --pokedex-blue: #33acfa;
  --pokedex-green-grey:  #03312b;
  --pokedex-grey: #313c42;
  --pokedex-green: #54ad62;

  --color-normal: #A8A77A;
  --color-fighting: #C22E28;
  --color-flying: #A98FF3;
  --color-poison: #A33EA1;
  --color-ground: #E2BF65;
  --color-rock: #B6A136;
  --color-bug: #A6B91A;
  --color-ghost: #735797;
  --color-steel: #B7B7CE;
  --color-fire: #EE8130;
  --color-water: #6390F0;
  --color-grass: #7AC74C;
  --color-electric: #F7D02C;
  --color-psychic: #F95587;
  --color-ice: #96D9D6;
  --color-dragon: #6F35FC;
  --color-dark: #705746;
  --color-fairy: #D685AD;
  --color-bird: #A4BBB3;
}

html {
  background-color: var(--pokedex-white);
}

html * {
  font-family: 'Rubik', sans-serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}