 @import url('https://fonts.googleapis.com/css?family=Rubik');
 
.App {
  text-align: center;
  width: 100%;
  height: 100%;


}

:root {
  --pokedex-red: #da1333;
  --pokedex-white: #dedede;
  --pokedex-blue: #33acfa;
  --pokedex-grey:  #03312b;
  --pokedex-green: #54ad62;

  --color-grass: #9ccb58;
  --color-fire: #fb7d34;
  --color-water: #4993c2;
  --color-poison: #b881c7;
  --color-electric: #edd446;
  --color-flying: #82c0d2;
}

html {
  background-color: var(--pokedex-white);
  overflow: hidden;
}

html * {
  font-family: 'Rubik', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}